\documentclass[12pt,a4paper]{article}

% --- Encoding and language ---
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage[brazilian]{babel}
\usepackage{lmodern}

% --- Page layout ---
\usepackage{geometry}
\geometry{margin=2.5cm}
\usepackage{setspace}
\onehalfspacing

% --- Headers and footers ---
\usepackage{fancyhdr}
\pagestyle{fancy}
\fancyhf{}
\fancyhead[L]{SICP --- Anotações pessoais}
\fancyhead[R]{Miquéias Alves Medeiros}
\fancyfoot[C]{\thepage}
\renewcommand{\headrulewidth}{0.4pt}
\renewcommand{\footrulewidth}{0.4pt}

% --- Code listings ---
\usepackage{listings}
\usepackage{xcolor}

\lstdefinelanguage{Scheme}{
  morekeywords={},
  sensitive=true,
  morecomment=[l]{;},
}

\lstset{
  language=Scheme,
  basicstyle=\ttfamily\small,
  commentstyle=\color{gray},
  breaklines=true,
  showstringspaces=false,
  frame=none,
  columns=fullflexible,
  numbers=left,
  numberstyle=\tiny\color{gray},
  numbersep=8pt,
  captionpos=b,
}

% --- Hyperlinks and PDF metadata ---
\usepackage{hyperref}
\hypersetup{
  pdftitle={Structure and Interpretation of Computer Programs (SICP) - Anotações pessoais},
  pdfauthor={Miquéias Alves Medeiros},
  pdfsubject={Anotações de estudo sobre SICP},
  pdfkeywords={SICP, Lisp, Scheme, Programação, Anotações},
  colorlinks=true,
  linkcolor=black,
  citecolor=blue,
  urlcolor=blue,
}

% --- Standard header ---
\title{Structure and Interpretation of Computer Programs (SICP) \\ \large Anotações pessoais de estudo}
\author{Miquéias Alves Medeiros}
\date{\today}

\begin{document}

\maketitle
\thispagestyle{empty}

\begin{center}
	\small Anotações elaboradas a partir da obra de Harold Abelson, Gerald Jay Sussman e Julie Sussman.
\end{center}

\vfill

\tableofcontents

\newpage

\section{Anotações do cap. NÚMERO-DO-CAPÍTULO Título-do-Capítulo, pp. XX-XX}

% --- Notes content starts here ---

Texto de introdução ou explicação vem aqui.

\begin{lstlisting}[caption={Exemplo de expressão em Scheme}]
(+ 1 2) ; 3
\end{lstlisting}

Mais texto explicativo.

\newpage
\section*{Referências}
\addcontentsline{toc}{section}{Referências}

\begin{thebibliography}{9}

	\bibitem{abelson1996sicp}
	ABELSON, Harold; SUSSMAN, Gerald Jay; SUSSMAN, Julie. \textit{Structure and Interpretation of Computer Programs}. 2. ed. Cambridge, MA: MIT Press, 1996.

\end{thebibliography}

\end{document}
